workflows/Action-Stream.json
{
  "name": "Action-Stream",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8992367d-2693-4796-a8f0-71b90ee84ead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        0
      ],
      "id": "446a8f19-a1fb-45c5-b7d9-b99da9f11931",
      "name": "Webhook",
      "webhookId": "8992367d-2693-4796-a8f0-71b90ee84ead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9fe3304-dfc9-4e48-8969-805136f86128",
              "name": "data.userId",
              "value": "={{ $json.body.events[0].source.userId }}",
              "type": "string"
            },
            {
              "id": "733e19b8-afbc-4023-ada2-97510a1f6097",
              "name": "data.message.id",
              "value": "={{ $json.body.events[0].message.id }}",
              "type": "string"
            },
            {
              "id": "fee09f71-0aa3-4a11-a2d5-0815aa4af367",
              "name": "data.message.type",
              "value": "={{ $json.body.events[0].message.type }}",
              "type": "string"
            },
            {
              "id": "f27e1db3-dbd8-4160-ab59-5067c0760b58",
              "name": "data.message.text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "91d7a8d7-178a-44ee-bb9c-e2cf9461a8de",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        0
      ],
      "id": "0e956ba1-9ba3-4d99-a9a5-819d2cd0c54d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "800eab6a-74a7-4a7d-b759-1bccede362a0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dEJl00FdOmw0C0hI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.data.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        208
      ],
      "id": "22e7d2d8-cec5-4f0a-b50a-818e9314dad5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const cleanedText = $input.first().json.output.replace(/\\n/g, \"\").replace(/\\*/g, \"\").replaceAll(\"\\\"\", \"'\");\nreturn {\n  json: {\n    text: cleanedText,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "846c1ed6-a2f2-4827-a45d-1e0796f8bbee",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Edit Fields').item.json.data.userId }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        0
      ],
      "id": "654c1f5d-7133-435a-b07b-95ba1d859abf",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "tEwrKZP4udrDbrmU",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0861e735-15e8-4370-810f-afd2db00bb36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb90ec6699141431eba6ab3bd3aa943dfdef904d15119786907763574fa95e50"
  },
  "id": "y6LLJRH76RhmwBME",
  "tags": []
}