workflows/Workflow_Automation_Monitoring.json
{
  "name": "Automated Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -16
      ],
      "id": "9071dd27-6489-4a0f-9016-c5e3b34fee38",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:80/api/sales/deals/inactive",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hours",
              "value": "48"
            },
            {
              "name": "team_id",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -16
      ],
      "id": "870cb704-5436-4411-9967-08bfa7a58e68",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "6McEo8oy5H0FiAOv",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "deals",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        -16
      ],
      "id": "c6a356e9-6931-4b8e-bffa-8111306d0957",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -160
      ],
      "id": "76bae34d-4ef8-4ca3-9fba-b24643623c20",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:80/api/sales/automation/deals/{{ $json.deal_id }}/next-action\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"next_action\": \"[แจ้งเตือน] ดีล {{ $json.customer_name }} เงียบเกิน 48 ชม. — โปรดทักติดตาม\",\n  \"next_action_date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"priority\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "id": "580404f2-76c8-44de-bd83-49a5d8f64320",
      "name": "POST NOTIFICATION STEP",
      "credentials": {
        "httpBearerAuth": {
          "id": "6McEo8oy5H0FiAOv",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -16
      ],
      "id": "a80ddaa3-1baf-4cdb-a7de-9c2486ae4ccd",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST NOTIFICATION STEP": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST NOTIFICATION STEP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18ee01aa-db78-4c62-9817-f61dae538655",
  "meta": {
    "instanceId": "bb90ec6699141431eba6ab3bd3aa943dfdef904d15119786907763574fa95e50"
  },
  "id": "UXjBPHXuPWQCXFDp",
  "tags": []
}